.event-wrapper{
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  box-sizing: content-box;
  padding-bottom: -20px;
  max-height: calc(100% - 60px);
  border-radius: var(--radius);
}

.event-wrapper::-webkit-scrollbar{
  display: none;
}

.event-tile{
  display: grid;
  grid-template-columns: 7% 20% 73%;
  align-items: center;
  background-color: var(--card);
  margin-block: 4px;
  border-radius: var(--radius);
  border: 2px solid var(--border);

  .timestamp, .event-message{
    padding: 4px;
  }
}

.detect{
  color: rgb(0, 157, 254);
}

.alert{
  color: rgb(254, 250, 0);
}

.alarm{
  color: rgb(254, 0, 0);
}

.threat{
  color: rgb(254, 154, 0);
}

.event-detail-wrapper{
  position: relative;

  h2{
    text-align: center;
    font-size: revert;
    border-bottom: 1px solid var(--border);
  }

  .bold {
    font-weight: 600;
  }

  .centered {
    text-align: center;
  }

  .section{
    background-color: var(--card);
    margin-block: min(4px, 4%);
    padding: min(8px, 8%);
    border-radius: var(--radius);
  }

  .detail-dialog{
    position: absolute;
    top: 3rem;
    left: 0.5rem;
    bottom: 3rem;
    right: 0.5rem;
    background-color: var(--card);
    border-radius: var(--radius);

    p{
      margin-inline: min(8px, 8%);
    }
  }
}