.table-wrapper{
  overflow-y: auto;
  max-height: 90%;
  /* padding: 8px; */
  margin-inline: auto;
  max-width: fit-content;
}

.dashboard-event-table{
  margin: auto;
  th, td {
    padding: 2px;
  }
  thead{
    position: sticky;
    top: 0;
    /* border: none; */
    background-color: var(--card);
  }
}