.icon-button{
  display: block;
  padding: min(8px, 8%);

  svg {
    display: inline;
  }
}

.inline-icon{
  display: inline-block;
  height: 1em;
  margin: 0;
  padding: 0;
}

.red{
  color: red;
}

.green{
  color: green;
}