.vertical-lamps, .horizontal-lamps{
  padding: 4px;
}

.vertical-lamps{

}

.horizontal-lamps{
  display: inline-flex;
  justify-content: center;
}

.lamp-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: min(4px, 4%);
}

.lamp{
  border-radius: 100%;
  border: 3px solid rgb(72, 72, 72);
  height: 20px;
  width: 20px;
  margin-block: min(4px, 4%);
}

.active {
  background-color: rgb(0, 220, 0);
}

.unack{
  background-color: rgb(254, 154, 0);
}
.ack{
  background-color: rgb(0, 220, 0);
}