.layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;

  .bread-crumb{
    margin: 8px;
    margin-bottom: 0;
    height: min-content;
  }

  .layout-main-content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-height: 95vh;

    header, .main-header {
      margin: 16px;
      grid-column: 1/9;
      font-size: xxx-large;
      color: var(--primary);
      /* background-color: magenta; */

      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    main, .main-display{
      margin: 16px;
      grid-column: 1/9;
      grid-row: 2/11;
      border: 2px solid var(--border);
      /* background-color: magenta; */
    }

    aside, .main-subcontent{
      margin: 16px;
      grid-column: 9/13;
      grid-row: 3/11;
      border: 2px solid var(--border);
      /* background-color: magenta; */
      overflow: hidden;
      padding: 8px;
      box-sizing: content-box;
    }

    .mission-clock{
      margin: 16px;
      grid-column: 9/13;
      grid-row: 1/3;
      /* background-color: magenta; */

      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: xx-large;
      text-align: center;

      .date-time-wrapper{
        box-sizing: border-box;
        padding: 32px;
        min-width: 200px;
        max-width: 300px;
        margin-inline: auto;
        border-radius: var(--radius);
        border: 5px solid transparent;
        background:
          linear-gradient(var(--card)) padding-box,
          conic-gradient(var(--chart-1), var(--chart-2), var(--chart-1)) border-box;
      }

      .header{
        color: var(--chart-5);
      }
      .time{
        color: var(--chart-3);
      }
    }

    footer, .main-footer {
      margin: 16px;
      grid-column: 1/13;
      grid-row: 11/13;
      display: flex;
      justify-content: center;
      /* background-color: magenta; */
    }
  }

  .layout-public-content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-height: 95vh;

    .main-display{
      grid-column: 4/10;
      grid-row: 4/10;
      max-height: fit-content;
      margin: auto;
    }
  }
}



