.layout {
  /* display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 1fr 11fr; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;

  .bread-crumb {
    margin: 8px;
    margin-bottom: 0;
    height: min-content;
  }

  .layout-main-content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-height: 100vh;

    header,
    .main-header {
      margin: 16px;
      grid-column: 1/9;
      border: 2px solid black;
    }

    main,
    .main-display {
      margin: 16px;
      grid-column: 1/9;
      grid-row: 2/11;
      border: 2px solid black;
    }

    aside,
    .main-subcontent {
      margin: 16px;
      grid-column: 9/13;
      grid-row: 3/11;
      border: 2px solid black;
    }

    .mission-clock {
      margin: 16px;
      grid-column: 9/13;
      grid-row: 1/3;
      border: 2px solid black;
    }
  }
}
