.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}

.leaflet-popup-content-wrapper{
  background-color: var(--popover);
}

.leaflet-popup-content{
  color: var(--popover-foreground);
}