@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

.switch {
  border: 5px solid transparent;
  border-radius: 100vw;
  background: linear-gradient(var(--muted-foreground)) padding-box;
  width: fit-content;
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 4px;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  .label{
    color: var(--muted);
    border: 5px solid transparent;
    border-radius: 100vw;
    padding-inline: 4px;
    padding-block: 4px;
  }

  .label:hover{
    cursor: pointer;
  }

  .focused{
    color: var(--secondary-foreground);
    border: 5px solid transparent;
    border-radius: 100vw;
    background:
      linear-gradient(var(--card)) padding-box,
      conic-gradient(from var(--angle), var(--chart-1), var(--chart-2), var(--chart-1)) border-box;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .focused:hover, .focused:focus-visible{
    cursor: default;
    animation-play-state: running;
  }
}