---
services:
  br-db:
    image: mongo:4.4.6
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    networks:
      - br-net

  br-mqtt:
    image: eclipse-mosquitto:2.0.22
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
      - mosquitto_logs:/mosquitto/log
    networks:
      - br-net

  br-api:
    image: ghcr.io/black-relay/br-api:latest
    container_name: br-api
    restart: unless-stopped
    ports:
      - "3001:3001"
    networks:
      - br-net
    depends_on:
      - br-db
      - br-mqtt
    environment:
      - API_PORT=3001
      - FRONTEND_URL=https://app.local.l8s.dev
      - MQTT_URL=mqtt://br-mqtt:1883
      - JWT_SECRET=${JWT_SECRET}
      - COOKIE_SECRET=${COOKIE_SECRET}
      - MONGO_HOST=mongodb
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}

  br-app:
    image: ghcr.io/black-relay/br-app:latest
    container_name: br-app
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - br-net
    volumes:
      - ./nginx-templates:/etc/nginx/templates
    environment:
      - NGINX_PORT=8080
    depends_on:
      - br-api
      - br-mqtt
      - br-db

  br-osm-tiles:
    image: overv/openstreetmap-tile-server
    container_name: br-osm-tiles
    restart: unless-stopped
    ports:
      - "8081:80"
    networks:
      - br-net
    volumes:
      - osm-data:/data/database
    command: run

  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare:latest
    container_name: br-caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./caddyfile:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
    networks:
      - br-net
    depends_on:
      - br-app
      - br-api
      - br-mqtt
      - br-db

networks:
  br-net:
    driver: bridge

volumes:
  mongodb_data:
  mosquitto_data:
  mosquitto_logs:
  caddy_data:
  caddy_config:
  osm-data:
    external: true
