openapi: 3.0.0
info:
  title: Black Relay API - OpenAPI 3.0
  version: 3.0.0
  description: The Black Relay API is used as the primary back end for the Black Relay web application. It is capable of subscribing to MQTT topics and storing messages published to those topics in a MongoDB collection.
  license:
    name: GPL v3.0
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
paths:
  '/subscribe/{topic}':
    get:
      tags:
        - subscribe
      summary: Subscribe to an MQTT topic
      description: Stores published messages to a corresponding MongoDB collection
      parameters:
        - name: topic
          in: path
          required: true
          schema:
            type: string
          description: The MQTT topic to subscribe to
      responses:
        '200':
          description: Subscribe to topic
          content:
            application/json:
              schema:
                type: object
                properties:
                  test:
                    type: string
                    example: example
  /auth/login:
    get:
      tags:
        - auth
      summary: Log in to the API
      description: 'Logs in a user and returns a signed, httpOnly, session cookie'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: joe.snuffy
                password:
                  type: string
                  example: P@$$Word123
              required:
                - username
                - password
      responses:
        '200':
          description: Successful login. Returns the user id of the successfully logged in user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    example: 68d72e98d951e85cf938a149
  /auth/logout:
    get:
      tags:
        - auth
      summary: Log out of the API
      description: Logs the user out and removes session cookie
      responses:
        '200':
          description: Successful logout
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
  '/topic/{topic}':
    get:
      tags:
        - topic
      summary: Get all data from a subscribed topic
      description: Returns all data stored in a topics associated collection since it was subscribed to
      responses:
        '200':
          description: Example data from a motion sensor
          content:
            application/json:
              schema:
                type: object
                properties:
                  sensorId:
                    type: integer
                    example: 1
                  timestamp:
                    type: string
                    example: '2024-06-11T14:23:45.123Z'
                  motionDetected:
                    type: boolean
                    example: true
                  direction:
                    type: string
                    example: 'N'
                  location:
                    type: array
                    example:
                      - 37.7749
                      - -122.4194
