openapi: 3.0.0
info:
  title: Black Relay API - OpenAPI 3.0
  version: 3.0.0
  description: The Black Relay API is used as the primary back end for the Black Relay web application. It is capable of subscribing to MQTT topics and storing messages published to those topics in a MongoDB collection.
  license:
    name: GPL v3.0
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
paths:
  /auth/login:
    post:
      tags:
        - auth
      summary: Log in to the API
      description: 'Logs in a user and returns a signed, httpOnly, session cookie'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: joe.snuffy
                password:
                  type: string
                  example: P@$$Word123
              required:
                - username
                - password
      responses:
        '200':
          description: 'Successful login. Returns first name, last name, member group IDs and user ID.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  firstName:
                    type: string
                    example: Joe
                  lastName:
                    type: string
                    example: Snuffy
                  groups:
                    type: array
                    example:
                      - 68de5378a3cc0665c0bbe3f2
                      - 68de53a9a3cc0665c0bbe3f3
                  user_id:
                    type: string
                    example: 68d72e98d951e85cf938a149
  /auth/logout:
    get:
      tags:
        - auth
      summary: Log out of the API
      description: Logs the user out and removes session cookie
      responses:
        '200':
          description: Successful logout
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
  '/topic/{topic}':
    get:
      tags:
        - topic
      summary: Get all data from a subscribed topic
      description: Returns all data stored in a topics associated collection since it was subscribed to
      responses:
        '200':
          description: Example data from a motion sensor
          content:
            application/json:
              schema:
                type: object
                properties:
                  sensorId:
                    type: integer
                    example: 1
                  timestamp:
                    type: string
                    example: '2024-06-11T14:23:45.123Z'
                  motionDetected:
                    type: boolean
                    example: true
                  direction:
                    type: string
                    example: 'N'
                  location:
                    type: array
                    example:
                      - 37.7749
                      - -122.4194
  '/topic/{topic}/subscribe':
    get:
      tags:
        - topic
      summary: Subscribe to an MQTT topic
      description: Stores published messages to a corresponding MongoDB collection
      parameters:
        - name: topic
          in: path
          required: true
          schema:
            type: string
          description: The MQTT topic to subscribe to
      responses:
        '200':
          description: Subscribe to topic
          content:
            application/json:
              schema:
                type: object
                properties:
                  test:
                    type: string
                    example: example
  /user:
    get:
      tags:
        - user
      summary: Get all users stored in DB
      description: Returns an array of objects containing user data
      responses:
        '200':
          description: Example user data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: integer
                      example: 1
                    firstName:
                      type: string
                      example: Joe
                    lastName:
                      type: string
                      example: Snuffy
                    username:
                      type: string
                      example: joe.snuffy
                    password:
                      type: string
                      example: $2b$10$EIXZQ1ZQ1ZQ1ZQ1ZQ1ZQ1O$2b$10$OOwh82PRs69t8INcue0fiOKbsLkVVIoe4Ib0DFMDJRn3j0cO0/X5C
                    createdAt:
                      type: string
                      example: '2024-06-11T14:23:45.123Z'
    post:
      tags:
        - user
      summary: Create a new user
      description: Creates a new user in the database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  example: Joe
                  required: false
                lastName:
                  type: string
                  example: Snuffy
                  required: false
                username:
                  type: string
                  example: joe.snuffy
                  required: true
                password:
                  type: string
                  example: plainTextPassword
                  required: true
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    example: 68de4b75ee5dce28c22bfb64
                  firstName:
                    type: string
                    example: Joe
                  lastName:
                    type: string
                    example: Snuffy
                  username:
                    type: string
                    example: joe.snuffy
                  password:
                    type: string
                    example: $2b$10$EIXZQ1ZQ1ZQ1ZQ1ZQ1ZQ1O$2b$10$kX8FxF2fg6toWdHMR2BnLenR1SpmDcNpRi/3g8NB5snbGyYmi4wPi
                  createdAt:
                    type: string
                    example: '2024-06-11T14:23:45.123Z'
    delete:
      tags:
        - user
      summary: Delete a user by user ID
      description: Deletes a user from the database
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: 68de4b75ee5dce28c22bfb64
      responses:
        '200':
          description: User deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User deleted successfully
  '/user/{userId}':
    get:
      tags:
        - user
      summary: Get user info stored in DB by user ID
      description: Returns an object containing user data
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: 68de4b75ee5dce28c22bfb64
      responses:
        '200':
          description: Example user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    example: 68de4b75ee5dce28c22bfb64
                  firstName:
                    type: string
                    example: Joe
                  lastName:
                    type: string
                    example: Snuffy
                  username:
                    type: string
                    example: joe.snuffy
                  password:
                    type: string
                    example: $2b$10$EIXZQ1ZQ1ZQ1ZQ1ZQ1ZQ1O$2b$10$OOwh82PRs69t8INcue0fiOKbsLkVVIoe4Ib0DFMDJRn3j0cO0/X5C
                  createdAt:
                    type: string
                    example: '2024-06-11T14:23:45.123Z'
    patch:
      tags:
        - user
      summary: Update user info stored in DB by user ID
      description: Updates user data in the database
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: 68de4b75ee5dce28c22bfb64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  example: Joe
                  required: false
                lastName:
                  type: string
                  example: Snuffy
                  required: false
                username:
                  type: string
                  example: joe.snuffy
                  required: false
                password:
                  type: string
                  example: $2b$10$EIXZQ1ZQ1ZQ1ZQ1ZQ1O$2b$10$OOwh82PRs69t8INcue0fiOKbsLkVVIoe4Ib0DFMDJRn3j0cO0/X5C
                  required: false
      responses:
        '200':
          description: Example updated user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    example: 68de4b75ee5dce28c22bfb64
                  firstName:
                    type: string
                    example: Joe
                  lastName:
                    type: string
                    example: Snuffy
                  username:
                    type: string
                    example: joe.snuffy
                  password:
                    type: string
                    example: $2b$10$EIXZQ1ZQ1ZQ1ZQ1ZQ1O$2b$10$OOwh82PRs69t8INcue0fiOKbsLkVVIoe4Ib0DFMDJRn3j0cO0/X5C
                  createdAt:
                    type: string
                    example: '2024-06-11T14:23:45.123Z'
